header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: navy;
}

h1 {
    color: white;
}

.page-container {
    display: flex;
    width: 100%;
    height: 1000px;
    margin-top: 20px;
}

.input-container {
    margin: 0px 20px 20px 20px;
    width: 400px;
    height: 100%;
}

.btn {
    width: 100%;
    margin-bottom: 20px;
}

.cityList {
    border-top: solid grey 2px;
    border-bottom: solid grey 2px;
    padding-bottom: 10px;
    padding-left: 0px;
    
}

.recentSearches {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    list-style: none;
    background-color: rgb(167, 166, 166);
}

.recentSearches:hover {
    cursor: pointer;
    background-color: rgb(68, 68, 68);
    color: rgb(212, 146, 23);
}

.forecast-container {
    display: flex;
    width: 1000px;
    flex-direction: column;
    margin-left: 50px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.large-img {
    margin-left: 25px;
    height: 80px;
    width: 80px;
    border: none;
}

.current-weather {
    border: solid black 2px;
    padding-left: 10px;
    
}

.five-day-forecast {
    margin-top: 25px;

}

.forecast-list {
    display: flex;
    padding-left: 0px;
    margin: none;
    justify-content: space-between;
    flex-direction: row;
    
}

.fiveDayInfo {
    background-color: rgb(33, 33, 65);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    flex-direction: column;
    margin-top: 20px;
    color: white;
    height: 250px;
    width: 180px;
    list-style: none;
}

h4 {
    margin-bottom: 5px;
    border-bottom: solid white 2px;
    font-weight: bold;
}

.small-img {
    height: 50px;
    width: 50px;
}
